@import "_variables.scss";
@import "_clases.scss";

// HOME //
body{
    
    @extend .bodyGeneral;

    .gridIndex{ 
        @extend .gridGeneral;
    

        header {
        width: 100%;
        background-color: $colorFondo;
        position: sticky;
        z-index: 10;
        top: 0px;
        grid-area: header;

            .divNav{
            width: 100%;
            background-color: $colorFondo;
            border: 1px solid $colorBordes;

                .divUno{
                width: 10%;

                
                    .imgLogo {
                     width: 100%;
                     border: 1px solid $colorBordes;
                    }

                }
            }

            .ulUno
            {
            width: 100%;
            justify-content: space-evenly;
            align-items: center;

                .botonesMenu{
                 font-size: 90%;
                }

                .botonesMenu:hover
                {
                transform: scale(1.2,1.2);
                transition: 0.5s;
                color: $colorBordes;
                }
     
            } 
        }

        .mainIndex{
            display:flex;
            flex-direction: column;
            grid-area: main;
            align-items: center;
            justify-content: space-around;

            .sectionIndexUno{
                width: 80%;

                .divTitulo {
                    width: 100%;

                    .tituloMain{
                        color:$colorBordes;
                        text-align: center;
                        margin-left: 30%;
                        margin-right: 30%;
                        font-family: $fuente;
                        background-color: $colorFondo;
                        border: 4px groove $colorBordes;
                        padding: 5% 5% 5% 5%;
                    }
                
                }
                  
            }
            
            .sectionIndexDos{
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-around;

                .divImagenIndex {
                    width: 40%;
                    height: 100%;
                    border: 2px solid $colorBordes;

                    #imagenIndex{
                        width: 100%;
                    }
                
                }
                
                
            }
        }

        footer {
            background-color: $colorFondo;
            border: 2px solid $colorBordes;
            grid-area: footer;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: flex-end; 

            #divFooterUno{
                width: 50%;

                .spanFooter { 
                    width: 95%;
                    margin-left: 5px;

                    #logoIg {
                        width: 7%;
                        
                    }
                    
                    #logoIg:hover{
                        transform: scale(1.2,1.2);
                        transition: 0.5s;
                    }
                    
                    #logoWp {
                        width: 7%;
                          
                    }
                    
                    #logoWp:hover{
                        transform: scale(1.2,1.2);
                        transition: 0.5s;
                    }
                   }
            }
            
            #divFooterDos{
                width: 50%;

                .spanCopyright
                    { display: flex;
                    flex-direction: row;
                    justify-content: flex-end;}

                    .parrafoCopyright {
                        color:$colorBordes;
                        font-family: $fuente;
                        margin-bottom: 0;
                    }
            }
        }
    
    }

}


//MEDIA QUERY//


// ENTRE 400 y 600PX //


@media only screen and (max-width: 600px)
{
    body{
        @include pantallaDos ($max600);
        
        .gridIndex{ 
            grid-template-rows: 3% 94% 3%;
            
            header{

                .divNav{

                

                    .divUno{
                    width: 15%;  
                    }
                }
        
            }
                .tituloMain{
                font-size: 70%;
                }
        
        
                .parrafoCopyright {
                font-size: 50%;
                }
    
                .botonesMenu{
                font-size: 80%;
                }
    
            }
        }
}


// HASTA 400PX //

@media only screen and (max-width: 400px)
{
    body{
        
        @include pantallaUno ($max400);
        
        
            .gridIndex{ 
            grid-template-rows: 3% 94% 3%;

                header{

                    .divNav{

                    

                    .divUno{
                    width: 20%;  
                    }
                }
            
            }
                .tituloMain{
                font-size: 50%;
                }
        
        
                .parrafoCopyright {
                font-size: 40%;
                }
    
                .botonesMenu{
                font-size: 70%;
                }
    
            
             }
    }
}

// DESDE 600PX //
@media only screen and (min-width: 600px)
{
    body{
        @include pantallaTres ($min600);
        
        .gridIndex{ 
            grid-template-rows: 3% 94% 3%;
        
            header{

                .divNav{

                

                    .divUno{
                    width: 12%;  
                    }
                }
        
            }
    
            .tituloMain{
            font-size: 80%;
            }
        
        
            .parrafoCopyright {
            font-size: 50%;
            }
    
            .botonesMenu{
            font-size: 80%;
            }
    
        }
    }
}


// DESDE 768PX //

@media only screen and (min-width: 768px)
{
    body{
        @include pantallaCuatro ($min768);
        
        .gridIndex{ 
            grid-template-rows: 4% 93% 3%;
        
            header{

                .divNav{

                

                    .divUno{
                    width: 10%;  
                    }
                }
        
            }
                .tituloMain{
                font-size: 100%;
                }
        
        
                .parrafoCopyright {
                font-size: 70%;
                }
    
                .botonesMenu{
                font-size: 90%;
                }
    
            }
        }
}


// DESDE 992PX //

@media only screen and (min-width: 992px)
{
    body{
        @include pantallaCinco ($min992);
        .gridIndex{ 
            grid-template-rows: 4% 93% 3%;
        
            header{

                .divNav{

                    .divUno{
                    width: 10%;  
                    }
                }
        
            }
                .tituloMain{
                font-size: 120%;
                }
                
                .parrafoCopyright {
                font-size: 85%;
                }

                
        }
    }
}

// DESDE 1080PX //

@media only screen and (min-width: 1080px)
{
    body{
        @include pantallaSeis ($min1080);
    
        .gridIndex{ 
            grid-template-rows: 5% 92% 3%;
    
            header{

                .divNav{

                    .divUno{
                    width: 10%;  
                    }
                }
        
            }
                .tituloMain{
                font-size: 150%;
                }

                .parrafoCopyright {
                font-size: 90%;
                }


        }
    }

}